// Variables
$white: #fff;
$black: #000;
$gray: #2A2A2A;
$gray2: #848484;
$gray3: #9DA3AF;
$gray4: #CBCBCB;
$darkestBlue: #081731;
$blueTextColor: #1F3358;
$darkBlue: #1F3358;
$darkBlue1: #184E77;
$darkBlue2: #1E6091;
$aquaLightBlue: #168AAD;
$aquaLightBlue2: #E1F2FF;
$lightBlue: #E5F4FF;
$lightBlue2: #DAEEEF;
$lightBlue3 : #09425F;
$bodyBg: #F5FBFF;
$green: #98C350;
$green2: #83CC4C;
$green3: #B5E48C;
$yellow: #FFCD38;
$orange: #EF7B27;
$red: #E91D1D;
$success: #28a745;
$danger: #dc3545;